.intro
{
    max-width: 100%;
    width: 100%;
    .intro__container
    {
        .intro__content
        {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: minmax(auto,100%);
            .intro__left
            {
                width: 100%;
                padding: 170px 0 120px 0;
                .intro__left--title 
                {
                    font-size: 45px;
                    text-align: left;
                    font-weight: 400;
                    color: inherit;
                    line-height: 1.3em;
                    margin-bottom: 40px;
                    font-family: Arial, Helvetica, sans-serif !important;
                }
                .intro__left--subtitle
                {
                    font-size: 18px;
                    text-align: left;
                    font-weight: 300;
                    color: var(--color-gray);
                    line-height: 1.3em;
                    margin-bottom: 40px;
                    font-family: Arial, Helvetica, sans-serif !important;
                }
                .intro__left--row
                {
                    display: flex;
                    align-items: center;
                    & > *
                    {
                        margin-right: 25px;
                        &:last-child
                        {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}