// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  --color-black: #181818;
  --color-gray: #8b8b8b;
  --color-gray-dark: #444444;
  --color-white: #fff;
  --color-light: #f4f4f4;
}
